---
import logoWordmark from "@/assets/images/logo-wordmark.svg";
import logoIcon from "@/assets/images/logo-icon.svg";
---

<div class="relative w-[112px] h-6 overflow-hidden">
  <div class="absolute top-[29.44%] left-[27.62%] right-0 bottom-[5.44%]">
    <img src={logoWordmark.src} alt="Handoff" class="absolute block h-full w-auto" />
  </div>
  <div class="absolute top-0 left-0 right-[77.62%] bottom-0">
    <img src={logoIcon.src} alt="" class="absolute block h-full w-auto" />
  </div>
</div>
